.ingredients {
  padding: 1.5em 1em 0 1em;
  padding-bottom: 4em;
}

.list {
  width: 90%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 1em;
}

.title {
  color: #233748;
}

@media screen and (min-width: 1124px) {
  .list {
    column-count: 2;
    column-gap: 70px;
  }
}
