.nav-desktop {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.recipe-actions {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.btn {
  width: 34px;
  height: 34px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: inherit;
}

.icon {
  width: 18px;
  height: 18px;
}

.btn:hover,
.btn:active {
  background-color: #e4e6ea;
}

.title {
  font-size: 1.2rem;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .nav-desktop {
    display: flex;
  }
}
