img {
  max-width: 100%;
  width: 30px;
}

.top-nav {
  padding: 1em;
  border-bottom: 1px solid #304557;
  margin-bottom: 4em;
}

.top-nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
}
.nav {
  position: fixed;
  width: 256px;
  top: 0;
  height: 100vh;
  background-color: #051e34;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-attachment: fixed;
  background-image: url("../../assets/nav_nachos@2x.png");
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 256px 556px;
  color: #dde0e3;
}

/* .hideNav {
  display: none;
} */

.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 1em;
}

.link:hover,
.link:focus {
  background-color: rgba(71, 98, 130, 0.4);
}

li span {
  margin-left: 0.5em;
}
