.control {
  margin-bottom: 2em;
}

.control input {
  width: 100%;
  padding: 0.7em 0.5em;
  border: 1px solid #e4e6ea;
  border-radius: 3px;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease-out;
}

.control input:hover,
.control input:active {
  border: 1px solid #233748;
}

.control input:focus {
  border: 1px solid #3dc795;
}

.label {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.description {
  margin: 0;
  margin-bottom: 0.5em;
  color: #717f94;
  font-weight: 600;
  font-size: 0.9rem;
}
