.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  /* justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
  flex-wrap: wrap;
}

/* .list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  background-color: aliceblue;
} */
