.recipeDetails {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #ffffff;
  padding: 2.5em;
}

@media screen and (min-width: 951px) {
  .recipeDetails {
    margin-top: 4em;
    width: 95%;
  }
}
